<div style="position:relative; width:1000px; margin:0 auto; overflow:hidden;z-index: 1;">
	<div class="slider">
		<div>
      <%= image_tag 'product_8.jpg' %>
		</div>
	</div>
</div>
<%= image_tag 'about0_11.jpg', width: 1000, height: 23, style: 'position: relative; margin:0 auto; display:block;' %>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="top" style="position:relative; left:0px;">
  <tr>
  <td>
    <table border="0" width="275" cellpadding="0" cellspacing="0">
    <tr>
    <td><div style="height:18px;border-bottom:#B6B6B6 3px solid; position:absolute;top:0px; left:0px; z-index:999; width:275px;"></div></td>
    <td valign="bottom" align="right" class="ctitle">在线留言</td>
    <td></td>
    </tr>
    </table>
  </td>
  </tr>
</table>

<br/>
<br/>
<br/>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="top"  style="position:relative;  left:0px;" >
  <tr>
    <td width="283"></td>
    <td width="717" align="left">
        <table width="520" border="0" cellspacing="0" cellpadding="0" align="left">
        <tr>
        <td height="25"></td>
        </tr>
        <tr>
        <td align="left" class="crong">
                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width=50><div align="center" class="ctitle">感谢您的留言。之后客服会与您联系。</div></td>
    
  </tr>
</table>

                    </td>
        </tr>
        </table>
    </td>
  </tr>
</table>
