<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>邮箱：<%= @note.email %></p>
    <p>电话：<%= @note.tel %></p>
    <p>留言：<%= simple_format @note.text %></p>
  </body>
</html>
