<div style="position:relative; width:1000px; margin:0 auto; overflow:hidden;z-index: 1;">
	<div class="slider">
		<div>
      <%= image_tag 'about_1.jpg' %>
		</div>
	</div>
</div>
<%= image_tag 'about0_11.jpg', width: 1000, height: 23, style: 'position: relative; margin:0 auto; display:block;' %>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="top" style="position:relative; left:0px;">
  <tr>
  <td>
    <table border="0" width="275" cellpadding="0" cellspacing="0">
    <tr>
    <td><div style="height:18px;border-bottom:#B6B6B6 3px solid; position:absolute;top:0px; left:0px; z-index:999; width:275px;"></div></td>
    <td valign="bottom" align="right" class="ctitle">公司简介</td>
    <td></td>
    </tr>
    </table>
  </td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="top"  style="position:relative;  left:0px;" >
  <tr>
    <td width="210"><table width="200" border="0">
      <tr>
        <td><div align="center"><img src="images/logo.png" width="183" height="225" align="absmiddle" /></div></td>
      </tr>
    </table></td>
    <td>
        <table width="609" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
        <td width="609" height="25"></td>
        </tr>
        <tr>
        <td align="left" class="crong"><p align="left">
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
上海银俸资产管理有限公司（简称“银俸资本”）是一家综合实力非常雄厚，股东涵盖股权投资，房地产投资并购，金融理财，财富管理的综合型理财机构，专注于为中国高端人士提供全方位的财富管理服务, 包括银行、证券、基金、信托、保险、私募股权等各类金融投资产品理财咨询服务，涵盖了四大类业务即贷款服务、财务顾问、财富管理、增值服务等，公司的经营愿景是专注财富管理，构建“服务 ＋ 产品”的一体化特色商业模式，专注为高净值客户、中小企业客户提供投资和融资双向解决方案及高回报理财产品，帮助客户实现财富的复合增长。
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
目前，公司的发展正以超常规的速度迈着大步走向全国，已在上海、杭州、温州、泰州等地区建立起了财富管理中心。
          <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  公司本着实力、诚信、专业、灵活的经营理念；以客户为中心、以市场为导向为公司的经营准则；坚持安全性、效益性、规范性、流动性的经营原则；强调风险、效益、规范、共赢、全局、服务、创新的服务意识；以制度规范，人性关怀的管理标准；优质服务赢客户，坚持创新赢市场。
          <br />
         </p>       </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
