<div style="position:relative; width:1000px; margin:0 auto; overflow:hidden;z-index: 1;">	
	
	<div class="slider">
      <%= image_tag 'index06.jpg' %>
	</div>

	<div style="position:absolute; z-index:9;top: 358px;left: 908px; left: 912px\9; color:white;">
		<span class="present_num"></span>  <span class="total_num"></span>
	</div>

	<div id=demo style="overflow:hidden;width:1000px;position:absolute; z-index:9; top:280px;">
	<table border=0 align=center cellpadding=0 cellspacing=0 cellspace=0 >
	  <tr>
        <td id=marquePic1 valign=top><table width='100%' border='0' cellspacing='0'>
            <tr>
                            <td align=center><div class="jingpinnn"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="left"><font color="#FFFFFF">新品推荐</font></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="20"></td><td align="left"><a href="/ouyaguoji" title="银俸-泰州欧亚国际商业中心项目"><font color="#FFFFFF">银俸-泰州欧亚国际商业中心项目</font></a></td></tr></table></td></tr></table></div></td>
							 <td align=center><div class="jingpinnn"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="left"><font color="#FFFFFF">新品推荐</font></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="20"></td><td align="left"><a href="/ouyaguoji" title="银俸-泰州欧亚国际商业中心项目"><font color="#FFFFFF">银俸-泰州欧亚国际商业中心项目</font></a></td></tr></table></td></tr></table></div></td>
							 <td align=center><div class="jingpinnn"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="left"><font color="#FFFFFF">新品推荐</font></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="20"></td><td align="left"><a href="/ouyaguoji" title="银俸-泰州欧亚国际商业中心项目"><font color="#FFFFFF">银俸-泰州欧亚国际商业中心项目</font></a></td></tr></table></td></tr></table></div></td>
							 <td align=center><div class="jingpinnn"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="left"><font color="#FFFFFF">新品推荐</font></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="20"></td><td align="left"><a href="/ouyaguoji" title="银俸-泰州欧亚国际商业中心项目"><font color="#FFFFFF">银俸-泰州欧亚国际商业中心项目</font></a></td></tr></table></td></tr></table></div></td>
							 <td align=center><div class="jingpinnn"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="left"><font color="#FFFFFF">新品推荐</font></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="20"></td><td align="left"><a href="/ouyaguoji" title="银俸-泰州欧亚国际商业中心项目"><font color="#FFFFFF">银俸-泰州欧亚国际商业中心项目</font></a></td></tr></table></td></tr></table></div></td>
							 <td align=center><div class="jingpinnn"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="left"><font color="#FFFFFF">新品推荐</font></td></tr><tr><td><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="20"></td><td align="left"><a href="/ouyaguoji" title="银俸-泰州欧亚国际商业中心项目"><font color="#FFFFFF">银俸-泰州欧亚国际商业中心项目</font></a></td></tr></table></td></tr></table></div></td>
                            
              </tr>
           </table></td>
        <td id=marquePic2 valign=top></td>
      </tr>
	</table>
  </div>
</div>
<%= image_tag 'about0_11.jpg', width: 1000, height: 23, style: 'position: relative; margin:0 auto; display:block;' %>
<%= image_tag 'end_01.jpg', width: 1000, height: 75, style: 'position: relative; margin:0 auto; display:block;' %>
