<div style="position:relative; width:1000px; margin:0 auto; overflow:hidden;z-index: 1;">
	<div class="slider">
		<div>
      <%= image_tag 'join.jpg' %>
		</div>
	</div>
</div>

<%= image_tag 'about0_11.jpg', width: 1000, height: 23, style: 'position: relative; margin:0 auto; display:block;' %>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="top" style="position:relative; left:0px;">
  <tr>
  <td>
    <table border="0" width="275" cellpadding="0" cellspacing="0">
    <tr>
    <td><div style="height:18px;border-bottom:#B6B6B6 3px solid; position:absolute;top:0px; left:0px; z-index:999; width:275px;"></div></td>
    <td valign="bottom" align="right" class="ctitle">加入我们</td>
    <td></td>
    </tr>
    </table>
  </td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="top"  style="position:relative;  left:0px;" >
  <tr>
    <td width="210"></td>
    <td align="left" valign="top">
        <table width="520" border="0" cellspacing="0" cellpadding="0" align="left">
        <tr>
        <td height="25"></td>
        </tr>
        <tr>
        <td align="left" valign="top" class="crong">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
						                        <tr>
				<td height="32" align="left" valign="middle" class="crong"><a href="files/job2013.rar" target="_self">2013年职位开房列表</a></td>
				<td width="120" align="right" valign="middle" class="crong">2013-08-30</td>
			</tr>
            			                        <tr>
				
            						
								    </table>        	
                    </td>
        </tr>
        </table>
    </td>
  </tr>
</table>
