<div style="position:relative; width:1000px; margin:0 auto; overflow:hidden;z-index: 1;">
	<div class="slider">
		<div>
      <%= image_tag 'product_8.jpg' %>
		</div>
	</div>
</div>

<%= image_tag 'about0_11.jpg', width: 1000, height: 23, style: 'position: relative; margin:0 auto; display:block;' %>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="top" style="position:relative; left:0px;">
  <tr>
  <td>
    <table border="0" width="275" cellpadding="0" cellspacing="0">
    <tr>
    <td><div style="height:18px;border-bottom:#B6B6B6 3px solid; position:absolute;top:0px; left:0px; z-index:999; width:275px;"></div></td>
    <td valign="bottom" align="right" class="ctitle">新品推荐</td>
    <td></td>
    </tr>
    </table>
  </td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="top"  style="position:relative;  left:0px;" >
  <tr>
    <td width="210"  >
	  </td>
    <td align="left" valign="top">
        <table width="520" border="0" cellspacing="0" cellpadding="0" align="left">
        <tr>
        <td height="25"></td>
        </tr>
        <tr>
        <td align="left" valign="top" class="crong">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td align="left" class="crong" height="20"><a href="javascript:history.back(-1)">返回新闻列表</a></td>
			    </tr>
          <tr>
				    <td align="left" class="crong" height="20"><span style="font-size:16px; color:#000; font-weight:bold">
              银俸-泰州欧亚国际商业中心项目
            </span></td>
			    </tr>
          <tr>
				    <td align="left" class="crong" >2013-08-30</td>
			    </tr>
          <tr>
				    <td align="left" class="crong" height="20">&nbsp;</td>
			    </tr>
			    <tr>
				    <td align="left" class="crong">
            <span style="font-family:宋体;font-size:9pt;"><strong>基金名称</strong>
            ：银俸-泰州欧亚国际商业中心项目
            </span> 
            <p>
            <span style="font-family:宋体;font-size:9pt;"><strong>基金规模</strong>
            ：9000万
            </span> 
            </p>
            <p>
            <span style="font-family:宋体;font-size:9pt;"><strong>认购规则</strong>
            ：50万起，超过50万按照5万的整数倍增加
            </span> 
            </p>
            <p>
            <span style="font-family:宋体;font-size:9pt;"><strong>融资目的</strong>
            ：用于购买【欧亚国际商业中心】21019.42㎡商铺
            </span> 
            </p>
            <p>
            <span style="font-family:宋体;font-size:9pt;"><strong>有限合伙人预期年化收益 （税后） ：</strong>
              <br/>
              50 万 ≤ 认购资金 &lt; 100 万 --&gt; 11%&nbsp;/ 年
              <br/>
              100 万 ≤ 认购资金 &lt; 300 万 --&gt; 12%&nbsp;/ 年
              <br/>
              300 万 ≤ 认购资金 &lt; 800 万 --&gt; 12.5%&nbsp;/ 年
              <br/>
              认购资金 ≥ 800 万 --&gt; 13%&nbsp;/ 年
            </span> 
            </p>
            <p>
            <span style="font-family:宋体;font-size:9pt;"><strong>收益分配方式</strong>
            ：按月支付利息，于每月初第5个工作日支付上月利息，到期一次性返还本金和最后一期收益。
            </span> 
            </p>
            <p>
            <span style="font-family:宋体;font-size:9pt;"><strong>计息时间</strong>
            ：打款到账三个工作日后，开始计息，如遇节假日顺延一个工作日起息。
            </span> 
            </p>
            <p>
            <span style="font-family:宋体;font-size:9pt;"><strong>还款来源</strong>
            ：
            </span> 
            </p>
            <p>1. 欧亚国际商业中心三层、四层销售回款，约1.53亿元。</p>
            <p>2. 欧亚国际商业中心整体租金收入。</p>
            <p>3. 坡子街商业中心 B1 层和 1F 商铺全部租金收入，约 1212 万元。</p>
            <p>
            <span style="font-family:宋体;font-size:9pt;"><strong>募集账户</strong>
            ：
            </span> 
            </p>
            <p>
              户&nbsp;&nbsp;&nbsp;&nbsp;名： 上海银赫投资中心（有限合伙）
            </p>
            <p>
              开户行： 建设银行上海虹口支行
            </p>
            <p>
              账&nbsp;&nbsp;&nbsp;&nbsp;号： 310015070000*******9
            </p>
            <p align="right">
            <span style="font-family:宋体;font-size:9pt;">上海银俸资产管理有限公司</span>
            </p>
            <p align="right">
            <span style="font-family:宋体;font-size:9pt;">2013年8月30日</span>
            </p>
            </td>
			    </tr>
        </table>        	
      </td>
      </tr>
      </table>
  
    </td>
	  <td width="210"  valign="top">
	    <p class="STYLE1">资料下载</p>
	    <p>&nbsp;</p>
      <p><a href="files/ouya_intro.rar" target="_self"><u>欧亚国际商业中心简介</u></a></p>
      <p>&nbsp;</p>
      <p><a href="files/tz_pozijie_intro.rar" target="_self"><u>泰州坡子街</u></a></p>
	    <p>&nbsp;</p>
      <p><a href="files/investment_guide.rar" target="_self"><u>投资指南</u></a></p>
    </td>

  </tr>
</table>
